<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="logotype">
                    <a href="#" class="logotype__link">
                        <img class="logotype__img" src="./img/logotype.png" alt="logotype">
                    </a>
                </div>
                <div class="socials socials--footer">
                    <a class="socials__link socials__link--first socials__link--facebook" href="javascript:void(0);"
                        target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="socials__link socials__link--first socials__link--twitter" href="javascript:void(0);"
                        target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="socials__link socials__link--behance" href="javascript:void(0);" target="_blank">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                    <a class="socials__link socials__link--behance" href="javascript:void(0);" target="_blank">
                        <i class="fab fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/all.min.js"></script>